# Ignore build results
[Oo]bj/


# Ignore user-specific files
*.user
*.suo
*.userosscache
*.suo
*.cache
*.vs
/packages/BNet.WebSocket.Server.12.0.0
/KaraOkay/bin/KaraOkay.dll
/KaraOkay/bin/KaraOkay.pdb
/KaraOkay/bin/KaraOkay
/UniqueIPs
