<?xml version="1.0"?>
<configuration>
	<system.web>
		<caching>
			<outputCache enableOutputCache="true"/>
		</caching>
		<httpHandlers>
			<add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="true"/>
			<add verb="*" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="true"/>
		</httpHandlers>
		<authentication mode="Windows"/>
		<authorization>
			<allow users="*"/>
		</authorization>
		<machineKey
			validationKey="1937C98F724C17831D5F06727D88BC1F1E9E7C28419C0BDD52B601A5429279E0F5748649EFD1C8F702FF45B065EA13987A9C95974D4B062C4502ECFDE81D13DE"
			decryptionKey="B4001B44B0E377EEAD3A07CFFC83655817A9D16368CEB9D43BAFA5D4F809A71F"
			validation="SHA1"
			decryption="AES" />
		<pages maintainScrollPositionOnPostBack="true" validateRequest="true" enableViewStateMac="true" viewStateEncryptionMode="Always"/>
		<trace enabled="false" requestLimit="999999999" pageOutput="false" traceMode="SortByTime"/>
		<customErrors mode="Off"/>
		<compilation debug="true" optimizeCompilations="true" defaultLanguage="c#" strict="false" explicit="true" targetFramework="4.8">
			<assemblies/>
		</compilation>
		<httpRuntime requestValidationMode="2.0" targetFramework="4.5.1" executionTimeout="999999999" maxRequestLength="999999999"/>
	</system.web>

	<system.serviceModel>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
	</system.serviceModel>

	<system.webServer>
		<caching>
			<profiles>
				<add extension=".css"  policy="CacheUntilChange" duration="30.00:00:00" />
				<add extension=".js"   policy="CacheUntilChange" duration="30.00:00:00" />
				<add extension=".html" policy="CacheUntilChange" duration="30.00:00:00" />
				<add extension=".aspx" policy="DontCache" />
			</profiles>
		</caching>

		<staticContent>
			<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
		</staticContent>

		<urlCompression doStaticCompression="true" doDynamicCompression="true"/>

		<httpCompression>
			<scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll"/>
			<dynamicTypes>
				<add mimeType="text/*"                   enabled="true"/>
				<add mimeType="application/json"         enabled="true"/>
				<add mimeType="application/javascript"   enabled="true"/>
				<add mimeType="application/x-javascript" enabled="true"/>
				<add mimeType="application/axd"          enabled="true"/>
			</dynamicTypes>
			<staticTypes>
				<add mimeType="text/*"                   enabled="true"/>
				<add mimeType="application/javascript"   enabled="true"/>
				<add mimeType="application/x-javascript" enabled="true"/>
				<add mimeType="application/axd"          enabled="true"/>
				<add mimeType="text/css"                 enabled="true"/>
			</staticTypes>
		</httpCompression>

		<modules/>
		<applicationInitialization doAppInitAfterRestart="true" skipManagedModules="false"/>
		<validation validateIntegratedModeConfiguration="false"/>

		<httpErrors errorMode="Custom" existingResponse="Auto">
			<remove statusCode="404" />
			<error statusCode="404" responseMode="ExecuteURL" path="/HTML/404.html" />
			<remove statusCode="403" />
			<error statusCode="403" responseMode="ExecuteURL" path="/HTML/403.html" />
			<remove statusCode="400" />
			<error statusCode="400" responseMode="ExecuteURL" path="/HTML/400.html" />
		</httpErrors>
		<asp scriptErrorSentToBrowser="true"/>

		<security>
			<dynamicIpSecurity enableLoggingOnlyMode="false">
				<denyByConcurrentRequests enabled="true" maxConcurrentRequests="20"/>
				<denyByRequestRate enabled="true" maxRequests="100" requestIntervalInMilliseconds="5000"/>
			</dynamicIpSecurity>
			<requestFiltering allowDoubleEscaping="false">
				<denyUrlSequences>
					<add sequence=".git"/>
					<add sequence=".svn"/>
					<add sequence=".env"/>
				</denyUrlSequences>
				<requestLimits maxAllowedContentLength="999999999"/>
			</requestFiltering>
		</security>



		<httpProtocol>
			<customHeaders>
				<add name="X-Xss-Protection" value="1; mode=block" />
				<add name="X-Content-Type-Options" value="nosniff" />
				<add name="Referrer-Policy" value="origin" />
				<add name="X-Permitted-Cross-Domain-Policies" value="none" />
				<add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains; preload" />
				<add name="Expect-CT" value="max-age=86400, enforce" />
				<remove name="X-Powered-By"/>
				<remove name="Server"/>
				<remove name="X-AspNet-Version"/>
				<remove name="X-AspNetMvc-Version"/>
			</customHeaders>
		</httpProtocol>
	</system.webServer>

	<location path="ScriptResource.axd">
		<system.webServer>
			<staticContent>
				<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
			</staticContent>
			<httpProtocol>
				<customHeaders>
					<add name="Cache-Control" value="public, max-age=31536000, immutable" />
				</customHeaders>
			</httpProtocol>
		</system.webServer>
	</location>

	<location path="WebResource.axd">
		<system.webServer>
			<staticContent>
				<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
			</staticContent>
			<httpProtocol>
				<customHeaders>
					<add name="Cache-Control" value="public, max-age=31536000, immutable" />
				</customHeaders>
			</httpProtocol>
		</system.webServer>
	</location>

</configuration>


<!-- PowerShell script to generate random machineKey values for web.config -->
<!--
$validationKey = -join ((1..64) | ForEach-Object { '{0:X2}' -f (Get-Random -Max 256) })
$decryptionKey = -join ((1..32) | ForEach-Object { '{0:X2}' -f (Get-Random -Max 256) })
Write-Host "validationKey: $validationKey"
Write-Host "decryptionKey: $decryptionKey"
-->